footer.footer
  .footer__container
    img.footer__logo(src="images/logo.png" loading="lazy" width="670" height="270" alt="logo")
    .footer__brand.font-s-16 Франшиза сети салонов красоты
    a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__connection
      include ../components/phone-number.pug
