header.header
  .header__container
    .header__brand.font-s-16 Франшиза сети салонов красоты
    img.header__logo(src="images/logo.png" loading="lazy" width="670" height="270" alt="logo")
    .header__connection
      include ../components/phone-number.pug
